* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}
.container {
    overflow-x: auto;
}
nav,.third-Section,.fourth-Section,.fifth-Section {
    padding-left: 3%;
    padding-right: 3%;
} 
.top-Nav {
    padding-top: 5px;
    height: 40px;
    background-color: rgb(121, 77, 171);
    font-size: small;
    background-image: linear-gradient(to left, rgb(134, 70, 198) , rgb(105, 150, 193));
}
.bot-Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(205, 196, 196);
} 
.bot-Nav-Left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
}
.bot-Nav-Right{
    margin: 5px;
    padding: 20px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.bot-Nav-Right-Icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 7px;
    padding-left: 20px;
    border-right: 2px solid rgb(213, 208, 208);
    border-left: 2px solid rgb(213, 208, 208);
}
.Top-right , .Top-left , .right , .left{
    color: rgb(224, 215, 215);
    text-decoration: none;
    padding: 8px;
}
.Top-left select, .Top-right select {
    border: none; 
    background-color: transparent;
    color: rgb(224, 215, 215);
}
.Top-left {
    color: rgb(224, 215, 215);
    float: left;
}
.Top-right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    text-align: center;
}
.right , .left {
    color: gray;
    text-decoration: none;
}
.top-Nav-Right {
    display: flex;
    flex-direction: row;
    float: right; 
    padding: 0px;
}
.fourth-Section-center select, .highlights select{
    float: left;
    border: none;
    background-color: transparent;
    color: rgb(162, 158, 158);
}
.fimage {
    margin: 35px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.bot-Nav-Left .bot-Nav-Text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    padding-right: 5px;
}
.bot-Nav-Text span {
    color: #615e5e;
    padding-right: 5px;
    padding-left: 5px;
}
.bot-Nav-Text span::before {
    content: "";
    position: absolute;
    width: 7%;
    height: 4px;
    border-radius: 50px;
    padding: 0px;
    bottom: 0;
    margin: 0% 1.5%;
    margin-bottom: 1ch;
    background-color: blueviolet; 
}
.bot-Nav-Text span::before {
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
.bot-Nav-Text span:hover::before {
    transform: scale(1, 1);
}
.res-Nav {
    display: none;
}
.third-Section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
    background-color: #fcfcfc;
    border-bottom: 1px solid rgb(219, 214, 214);
}
.third-Section-Left {
    margin: 20px 0px; 
    border-left: solid 5px   rgb(105, 150, 193);
    border-radius: 3px;
    padding: 5px 20px;
    line-height: 30px;
}
.fourth-Section { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
    background-color: rgb(253, 253, 253);
    border-bottom: 1px solid rgb(219, 214, 214);
}
.fourth-Section-Mid {
    display: flex;
    position: relative;
}
.fourth-Section-center {
    text-decoration: none;
    padding-left: 35px;
    box-sizing: border-box;
    color: rgb(67, 67, 67);
    font-weight: 600;
    font-size: small;
}
.fourth-Section-center::after {
    content: "";
    position: absolute;
    width: 5%;
    height: 0.175rem;
    border: 1px solid blueviolet;
    border-radius: 50px;
    margin-left: -35px;
    margin-top: -5px;
    top: 0;
    background-color: blueviolet; 
}
.fourth-Section-center::after {
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
.fourth-Section-center:hover::after {
    transform: scale(1, 1);
}
#more {
    color: black;
}
.fourth-Section-Link {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
.fifth-Section {
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.report {
    margin-top: 20px;
    height: 350px;
    width: 65%;
    border: 1px solid rgb(222, 218, 218);
    border-radius: 7px;
}
.report-Header {
    list-style-type: none; 
    display: flex; 
    justify-content: space-between; 
    padding: 20px;
}
#options {
    padding: 10px;
    padding-right: 1px;
}
.highlights {
    color: rgb(198, 183, 183);
    float: right;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 7px;
    width: 50%;
    height: 60%;
    border: 1px solid rgb(222, 218, 218);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.highlights-Heading {
    padding-top: 15px;
    padding-left: 30px;
}
.highlights-Scrollbar {
    border: 1px solid rgb(230, 226, 226);
    width: 90%;
    height: 200px;
    margin: 30px;
    overflow-y: scroll;
}
.highlights-List{
    padding: 15px 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(226, 225, 225);
}
.highlights-Scrollbar::-webkit-scrollbar {
    width: 5px;  
  }

.highlights-Scrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(188, 188, 200);
    border-radius: 20px;       
  }
  .highlights-List span {
    color: #24ae38;
    font-size: 20px;
  }
.highlights-List-Left {
    color: rgb(89, 84, 84);
    font-weight: bold;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.highlights-List-Left img {
   border-radius: 50%;
    padding: 5px;
}
.highlights-List-Left div {
    padding-left: 15px;
}
.highlights-List-Left p {
    font-size: 13px;
    color: white;
    padding: 2px 10px;
    border-radius: 25px;
    display: inline;
    background-color: #1250ba;
}
.table-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(210, 205, 205);
    margin: 0% 10%;
    margin-top: 5%;
    padding: 15px;
 }
 .white-Button {
    float: right; 
    background-color: white;
    padding: 5px; 
    color: black;  
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: bold;
 }
 .black-Button {
    float: right; 
    color: white; 
    font-weight: 500;
    background-color: black; 
    padding: 10px 15px;
    border-radius: 5px;
 }
 .white-Button:hover {
    background-color: black;
    color: white;
 }
table {
    margin: 0% 4% 0% 4%;
    padding: 10px;
    border: 1px solid rgb(203, 201, 201);
    border-collapse: collapse;
}
.table-Header {
    margin: 0% 4% 0% 4%;
}
td, th {
    text-align: left;
    padding: 8px;
} 
  tr:nth-child(even) {
    background-color: #dddddd;
}
.icon {
    right: 0;
    width: 50px;
    height: 50px;
    border: 2px solid #1dba12;
    position: fixed;  
}
.side-Icon {
    color: #1250ba; 
    position: absolute;
    padding: 3px; 
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
   transition: 1s;
}
.side-Icon:hover {
   transform: rotateZ(360deg);
   transition: 1s;
}