* {
    padding: 0px;
    margin: 0px;
    /* overflow: hidden; */
}

.container {
    overflow-x: auto;
}

nav,.thirdSection,.fourthSection,.fifthSection {
    padding-left: 10%;
    padding-right: 10%;
    /* box-shadow: 1px black; */
} 
.topNav {
    height: 40px;
    background-color: rgb(121, 77, 171);
    font-size: small;
    background-image: linear-gradient(to left, rgb(118, 62, 175) , rgb(105, 150, 193));
}


.botNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(205, 196, 196);

} 
  
.botNavLeft {
    /* float: left;  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
}
.botNavRight{
    /* float: right; */
    margin: 5px;
    padding: 20px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.botNavRightIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 7px;
    padding-left: 20px;
    border-right: 2px solid rgb(213, 208, 208);
    border-left: 2px solid rgb(213, 208, 208);
}
.Topright , .Topleft , .right , .left{
    color: rgb(224, 215, 215);
    text-decoration: none;
    padding: 8px;
}
.Topleft {
    color: rgb(224, 215, 215);

    float: left;
    /* text-align: center; */
}
.Topright {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    text-align: center;
    /* float: right; */
    /* text-align: center; */
}
.right , .left {
    color: gray;
    text-decoration: none;
    /* padding: 20px; */
}
.fourthSection_center select, .highlights select{
    float: left;
    border: none;
    background-color: transparent;
    color: rgb(162, 158, 158);
     /* padding-left: 35px; */
    /* padding-right: 5px;  */
}


.fimage {
    margin: 35px;
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}
/* .fimage:first-child {
    margin-right: 0px;
} */

.botNavLeft .botNavText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    padding-right: 5px;
    /* position: relative;   */
}
.botNavText span {
    color: #615e5e;
    padding-right: 5px;
    padding-left: 5px;
}

.botNavText span::before {
    content: "";
    position: absolute;
    width: 7%;
    height: 4px;
    border-radius: 50px;
    /* left: auto; */
    padding: 0;
    bottom: 0;
    margin: 0% 1.5%;
    background-color: blueviolet; 
}
.botNavText span::before {
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
.botNavText span:hover::before {
    transform: scale(1, 1);
}



.resNav {
    display: none;
}


.thirdSection {
    background-color: #b0aeae;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
    background-color: rgb(246, 248, 248);
    border-bottom: 1px solid rgb(219, 214, 214);
    /* box-shadow: 0px 10px 10px rgba(10, 10, 10, 0.2); */

}

.thirdSectionLeft {
    margin: 20px 0px; 
    border-left: solid 5px   rgb(105, 150, 193);
    border-radius: 3px;
    padding: 5px 20px;
    line-height: 30px;
}
.fourthSection {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;
    /* padding-top: 20px; */
    background-color: rgb(239, 237, 237);
    border-bottom: 1px solid rgb(219, 214, 214);
}
.fourthSectionMid {
    display: flex;
    position: relative;
}

.fourthSection_center {
    text-decoration: none;
    padding-left: 15px;
    box-sizing: border-box;
    color: black;
    font-weight: bold;
}
.fourthSection_center::after {
    content: "";
    position: absolute;
    width: 5%;
    height: 0.175rem;
    border: 1px solid blueviolet;
    border-radius: 50px;
    /* left: auto; */
    margin-left: -35px;
    top: 0;
    background-color: blueviolet; 
}
.fourthSection_center::after {
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}
.fourthSection_center:hover::after {
    transform: scale(1, 1);
}
/* .fourthSection_center:active {
    color: black;
    border-bottom: 2px solid purple;
} */
.fourthSectionLink {
    text-decoration: none;
    padding-left: 10px
}
.fifthSection {
    display: flex;
    justify-content: space-between;
    margin: auto;

}

.report {
    margin-top: 20px;
    height: 350px;
    width: 65%;
    border: 1px solid rgb(222, 218, 218);
    border-radius: 7px;

}
.reportHeader {
    list-style-type: none; 
    display: flex; 
    justify-content: space-between; 
    padding: 20px;
}
.highlights {
    color: rgb(198, 183, 183);
    float: right;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 7px;
    width: 65%;
    height: 60%;
    border: 1px solid rgb(222, 218, 218);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.highlights-Heading {
    padding-top: 15px;
    padding-left: 30px;
}

.highlightsScrollbar {
    border: 1px solid rgb(200, 198, 198);
    width: 90%;
    height: 200px;
    margin: 30px;
    overflow-y: scroll;
}

.highlights-List{
    padding: 15px 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(200, 198, 198);
}

.highlightsScrollbar::-webkit-scrollbar {
    width: 5px;               
  }
  
.highlightsScrollbar::-webkit-scrollbar-thumb {
    background-color: rgb(188, 188, 200);   
    border-radius: 20px;       
  }
.tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(210, 205, 205);
    margin: 0% 10%;
    margin-top: 5%;
    padding: 15px;
 }
table {
    margin: 0% 10% 0% 10%;
    padding: 10px;
    /* margin: auto; */
    border: 1px solid rgb(203, 201, 201);
    border-collapse: collapse;
    /* width: 70%; */
}

td, th {
    text-align: left;
    padding: 8px;
} 
  tr:nth-child(even) {
    background-color: #dddddd;
}

.icon {
    right: 0;
    width: 50px;
    height: 50px;
    border: 2px solid #1dba12;
    /* border-right: none;  */
    position: relative;
    
}

.sideIcon {

    color: #1250ba; 
    position: absolute;
    padding: 3px; 
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
   transition: 1s;
}

.sideIcon:hover {
   transform: rotateZ(360deg);
   transition: 1s;
}