@media screen and (max-width: 767px) {
    
   .top-Nav {
       display: none;
   }

   .bot-Nav {
       border-bottom: 1px solid black;
   }
   nav,.third-Section,.fourth-Section,.fifth-Section {
       padding-left: 5%;
       padding-right: 5%;
   }
   .hide {
    display: none;
   }
 .res-Nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   .third-Section {
       display: block;
       height: 160px;
       text-align: center;
       line-height: 28px;
   }
   .third-Section-Left {
       border-left: none;
       margin-top: 0px;
   }
   .fourth-Section {
       height: 180px;
       text-align: center;
   }
   .fourth-Section-Mid{  
       flex-direction: column;
       text-align: center;
   }
   .fourth-Section-center {
       padding: 10px 0px;
   }
   .fourth-Section-Link {
       vertical-align: middle;
   }
   .fifth-Section {
       flex-direction: column;
   }
   .report, .highlights {
       width: 100%;
   }
   .report-Header {
      flex-direction: column;
      align-items: center;
      margin-bottom: 5px;
   }
   tbody {
    padding: 0;
    overflow-x: scroll;
   }
   table thead tr td {
       column-span: 1;
   }
   .table-Header {
       flex-direction: column;
   }
 }

 @media screen and (max-width: 991px)and (min-width: 768px) {
 
    .hide {
        display: none;
       }
    .res-Nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
       }
       .third-Section {
        display: block;
        height: 160px;
        text-align: center;
        line-height: 28px;
    }
    .third-Section-Left {
        border-left: none;
        margin-top: 0px;
    }
    .fifth-Section {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .report, .highlights {
        width: 90%;
        margin-bottom: 5px;
    }
    .report-Header {
       flex-direction: column;
       align-items: center;
    }
    
   table{
    width: 85%;
    margin: auto;
   }
   .table-Header{
    width: 81%;
    margin: auto;
   }

}
