@media screen and (max-width: 900px) {
    
   .topNav {
       display: none;
   }

   .botNav {
       border-bottom: 1px solid black;
       /* box-shadow: 
       0px 7.4px 9.6px -2px rgba(0, 0, 0, 0.24),
       0px 17.9px 23.1px -2px rgba(0, 0, 0, 0.173),
       0px 33.7px 43.6px -2px rgba(0, 0, 0, 0.143),
       0px 60.1px 77.7px -2px rgba(0, 0, 0, 0.12),
       0px 112.4px 145.4px -2px rgba(0, 0, 0, 0.097),
       0px 269px 348px -2px rgba(0, 0, 0, 0.067)
     ; */
   }
   nav,.thirdSection,.fourthSection,.fifthSection {
       padding-left: 5%;
       padding-right: 5%;

   }

   .hide {
    display: none;
   }

 .resNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   } 
 

   .thirdSection {
       display: block;
       height: 160px;
       text-align: center;
       line-height: 28px;
   }
   .thirdSectionLeft {
       border-left: none;
       margin-top: 0px;
   }
   .fourthSection {
       height: 180px;
       text-align: center;
   }
   .fourthSectionMid{  
       flex-direction: column;
       text-align: center;
   }
   .fourthSection_center {
       padding: 10px 0px;
   }
   .fourthSectionLink {
       vertical-align: middle;
   }
   .fifthSection {
       flex-direction: column;
   }
   .report,.highlights {
       width: 100%;
   }
   .reportHeader {
      flex-direction: column;
      align-items: center;
      margin-bottom: 5px;
   }
   .tbody {
       overflow-y: scroll;
   }

   table thead tr td {
       column-span: 1;
   }
   .tableHeader {
       flex-direction: column;
   }
 }